# http://editorconfig.org

# top-most EditorConfig file
root = true

[*]

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_size = 2
indent_style = space

# No trailing space for markdown files
[*.md]
trim_trailing_whitespace = false
