{
  "env": {
    "node": true,
    "es6": true
  },
  "extends": [
    "airbnb"
  ],
  "parser": "babel-eslint",
  "rules": {
    "indent": ["error", 2],
    "quotes": ["error", "single", { "allowTemplateLiterals": true }],
    "import/export": 2,
    "import/first": 2,
    "import/no-commonjs": 2,
    "import/no-deprecated": 1,
    "import/no-duplicates": 2,
    "import/no-unresolved": 2
  }
}
